@keyframes drop {
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@keyframes rise {
  from {
    margin-bottom: -50px; }
  to {
    margin-bottom: 0; } }

@keyframes grow-200 {
  from {
    width: 0px; }
  to {
    width: 200px; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

.loading-wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none; }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 0;
  color: #463d2a; }

#danny-fishman-music-main .back-button {
  color: gray;
  position: absolute;
  top: 20px; }
  #danny-fishman-music-main .back-button.right {
    right: 20px; }
  #danny-fishman-music-main .back-button.left {
    left: 20px; }

#danny-fishman-music-main .root {
  display: flex; }
  #danny-fishman-music-main .root > .media > .videos {
    height: 100%; }
    #danny-fishman-music-main .root > .media > .videos > .main-video {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center; }
    #danny-fishman-music-main .root > .media > .videos > .video-index {
      height: 20%;
      background-color: #444343;
      display: flex;
      align-items: center;
      justify-content: center; }
      #danny-fishman-music-main .root > .media > .videos > .video-index > img {
        margin: 25px;
        width: 200px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all .2s ease-out;
        border-radius: 3px; }
        #danny-fishman-music-main .root > .media > .videos > .video-index > img:hover {
          border: 2px solid #dbd5cf; }
  #danny-fishman-music-main .root > .backdrop {
    width: 100vw;
    height: 100vh;
    transition: .75s all ease-in-out; }
    #danny-fishman-music-main .root > .backdrop > .header {
      position: fixed;
      top: 0;
      width: calc(100% - 50px);
      padding: 25px;
      display: flex;
      justify-content: center;
      opacity: 1;
      transition: .3s all ease-in-out; }
      #danny-fishman-music-main .root > .backdrop > .header.hidden {
        display: none; }
      #danny-fishman-music-main .root > .backdrop > .header > .header-title {
        text-align: center;
        height: 80px;
        border: 1px solid #726654;
        padding: 20px;
        position: relative;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 5px;
        opacity: 0;
        animation: drop .5s, fade-in .5s;
        animation-delay: .25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        color: #463d2a; }
        #danny-fishman-music-main .root > .backdrop > .header > .header-title > .title {
          font-size: 32px; }
        #danny-fishman-music-main .root > .backdrop > .header > .header-title > .sub-title {
          font-size: 24px; }
      #danny-fishman-music-main .root > .backdrop > .header > .tabs-wrapper {
        width: 0;
        height: 40px;
        animation: grow-200 .75s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        overflow: hidden;
        border-bottom: 1px solid #726654;
        animation-timing-function: ease-out; }
        #danny-fishman-music-main .root > .backdrop > .header > .tabs-wrapper > .tabs {
          height: min-content;
          display: flex;
          justify-content: center;
          opacity: 0;
          animation: fade-in 1s;
          animation-delay: .75s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out; }
          #danny-fishman-music-main .root > .backdrop > .header > .tabs-wrapper > .tabs > .header-tab {
            padding: 5px;
            margin: 0 15px;
            display: flex;
            align-items: center;
            transition: .2s all ease-in;
            border: 1px solid transparent;
            cursor: pointer;
            height: max-content;
            width: max-content;
            white-space: no-wrap; }
            #danny-fishman-music-main .root > .backdrop > .header > .tabs-wrapper > .tabs > .header-tab:hover {
              background-color: rgba(0, 0, 0, 0.2);
              color: white; }
    #danny-fishman-music-main .root > .backdrop > .footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 1;
      transition: .3s all ease-in-out; }
      #danny-fishman-music-main .root > .backdrop > .footer.hidden {
        display: none; }
      #danny-fishman-music-main .root > .backdrop > .footer > .icons {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        #danny-fishman-music-main .root > .backdrop > .footer > .icons > i {
          cursor: pointer;
          color: #938879;
          padding: 5px;
          border: 1px solid transparent;
          transition: .2s all ease-in;
          opacity: 0;
          animation: fade-in 1s, rise .5s;
          animation-delay: .75s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out; }
          #danny-fishman-music-main .root > .backdrop > .footer > .icons > i:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: #b5aea3; }
