
// $default-text-color: #b5b5b5;
// $border-color:  #d7ab6b;
$default-text-color: #ebbd87;
$border-color:  #8c602c;



@keyframes drop {
  from { margin-top: -50px; }
  to   { margin-top: 0; }
}

@keyframes rise {
  from { margin-bottom: -50px; }
  to   { margin-bottom: 0; }
}

@keyframes grow-200 {
  from { width: 0px; }
  to   { width: 200px; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 0;
  color: $default-text-color;
}

#danny-fishman-music-main {
  .landing {
    width: 100vw;
    height: 100vh;

    &.main {
      background: no-repeat center url('http://res.cloudinary.com/dzyfczxnr/image/upload/v1486001602/fishman/IMG_1254_f2zgkq.jpg');
      background-size: cover;
    }

    >.header {
      position: fixed;
      top: 0;
      width: calc(100% - 50px);
      padding: 25px;
      display: flex;
      justify-content: center;

      >.header-title {
        background-color: rgba(0,0,0, 0.2);
        text-align: center;
        height: 80px;
        border: 1px solid $border-color;
        padding: 20px;
        position: relative;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 5px;
        opacity: 0;
        animation: drop .5s, fade-in .5s;
        animation-delay: .25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        >.title {
          font-size: 32px;
        }

        >.sub-title {
          font-size: 24px;
        }
      }

      >.tabs-wrapper {
        width: 0;
        height: 40px;
        animation: grow-200 .75s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        overflow: hidden;
        border-bottom: 1px solid $border-color;
        animation-timing-function: ease-out;

        >.tabs {
          height: min-content;
          display: flex;
          justify-content: center;
          opacity: 0;
          animation: fade-in 1s;
          animation-delay: .75s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;

          >.header-tab {
            padding: 5px;
            border-radius: 3px;
            margin: 0 15px;
            display: flex;
            align-items: center;
            transition: .3s all ease-in;
            border: 1px solid transparent;
            cursor: pointer;
            height: max-content;
            width: max-content;
            white-space: no-wrap;

            &:hover {
              border: 1px solid $default-text-color;
              background-color: rgba(0,0,0, 0.2);
            }
          }
        }
      }
    }

    >.footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      >.icons {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        >i {
          cursor: pointer;
          color: $default-text-color;
          padding: 5px;
          border: 1px solid transparent;
          border-radius: 5px;
          transition: .3s all ease-in;
          opacity: 0;
          animation: fade-in 1s, rise .5s;
          animation-delay: .75s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;

          &:hover {
            background-color: rgba(0,0,0, 0.2);
            border: 1px solid $default-text-color;
          }
        }
      }
    }
  }
}
